# Ignorar archivos de configuración de Visual Studio Code
.vscode/

# Ignorar archivos generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar el archivo de credenciales
credenciales.json

*.spec
*.cache

dist/
build/
_internal/
